.header-main{
    background-color: #0f8165; 
    color: #d6d6d6;
}

.header-red {
    background-color: #8f1f1f; 
    color: #d6d6d6;
}

.header-yellow {
    background-color: #ced100; 
    color: #070707;
}

.header-green {
    background-color: #02691c; 
    color: #e7e7e7;
}

.header-blue {
    background-color: #0e4792; 
    color: #e0e0e0;
}

.header-white {
    background-color: #e6e6e6; 
    color: #070707;
}

.header-black {
    background-color: #1f1f1f; 
    color: #dadada;
}

.container{
    padding: 24px;
    max-width: 600px;
}

footer {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #0f8165; 
    color: #d6d6d6;
  }

